### Using MySQL and SQL with Python
- use the python mysql connector to create tables
- insert data into tables
- select data using constrained SQL queries
- alter tables by adding/removing and renaming columns, and changing column types
- create foreign keys and relate tables together

In [66]:
# import libraries

import mysql.connector

In [67]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="pwd0402"
)

In [68]:
mycursor = db.cursor()

In [4]:
# mycursor.execute("CREATE DATABASE testdatabase") # creates a new database
# commented the above command out so I dont create multiple databases everytime I run the program

In [69]:
# create a connection to my 'testdatabase' database 
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="pwd0402",
    database="testdatabase"
)

In [70]:
#
mycursor = db.cursor()

In [7]:
# create Person table inside of the database
# mycursor.execute("CREATE TABLE Person (name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")
# AUTOINCREMENT: it will automatically generate a primary key that will be greater than or differnt from the last primaru key that we had in the table
# so we can access any person uniquely

In [8]:
# view Person table 
mycursor.execute("DESCRIBE Person")

In [9]:
# print all the ouput that mycursor got from the SQL query line by line
for x in mycursor:
    print(x)

('name', 'varchar(50)', 'YES', '', None, '')
('age', 'smallint unsigned', 'YES', '', None, '')
('personID', 'int', 'NO', 'PRI', None, 'auto_increment')

In [10]:
# add elements into the table 
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s, %s)", ('Tim', 19))
# string formatting: a safer way of adding values using (%s, %s)
db.commit() # commit these changes to the database

In [11]:
# retrieve all data in the database
mycursor.execute("SELECT * FROM Person")

for x in mycursor:
    print(x)

('Tim', 19, 1)
('Mary', 23, 2)
('Kevin', 20, 3)
('Tim', 19, 4)

In [12]:
# add elements into Person table
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s, %s)", ('Mary', 23))
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s, %s)", ('Kevin', 20))
db.commit()

In [13]:
# retrieve all data in the database
mycursor.execute("SELECT * FROM Person")

for x in mycursor:
    print(x)

('Tim', 19, 1)
('Mary', 23, 2)
('Kevin', 20, 3)
('Tim', 19, 4)
('Mary', 23, 5)
('Kevin', 20, 6)

In [14]:
from datetime import datetime

In [15]:
# create Test table
# mycursor.execute("CREATE TABLE Test (name varchar(50) NOT NULL, created datetime NOT NULL, gender ENUM('M', 'F', 'O') NOT NULL, id int PRIMARY KEY NOT NULL AUTO_INCREMENT)")

In [16]:
# add elements
#mycursor.execute("INSERT INTO Test (name, created, gender) VALUES (%s, %s, %s)", ("Mary", datetime.now(), "F"))
#mycursor.execute("INSERT INTO Test (name, created, gender) VALUES (%s, %s, %s)", ("Janice", datetime.now(), "F"))
#mycursor.execute("INSERT INTO Test (name, created, gender) VALUES (%s, %s, %s)", ("Kevin", datetime.now(), "M"))

db.commit()

In [17]:
# retrieve data of females ordered by an increasing id
mycursor.execute("SELECT * FROM Test WHERE gender = 'F' ORDER BY id ASC")

for x in mycursor:
    print(x)

('Mary', datetime.datetime(2022, 11, 3, 14, 30, 48), 'F', 1, '')
('Mary', datetime.datetime(2022, 11, 3, 14, 34, 16), 'F', 2, '')
('Janice', datetime.datetime(2022, 11, 3, 14, 34, 16), 'F', 3, '')

In [18]:
# add "food" column using ALTER TABLE statement
#mycursor.execute("ALTER TABLE Test ADD COLUMN food VARCHAR(50) NOT NULL")

In [19]:
mycursor.execute("DESCRIBE Test")
#print(mycursor.fetchone()) # get the first entry that is returned by mycursor. If cursor(buffered = True), fetches ALL rows and just returns one; otherwise, it only fetches one row from the full result set of the query. when you use the same cursor again, it'll complain that there are n-1 rows still waiting to be fetched
for x in mycursor:         # retrieve all data
    print(x)

('name', 'varchar(50)', 'NO', '', None, '')
('created', 'datetime', 'NO', '', None, '')
('gender', "enum('M','F','O')", 'NO', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('food', 'varchar(50)', 'NO', '', None, '')

In [7]:
# delete a column in table
mycursor.execute("ALTER TABLE Test DROP food")

In [8]:
# change column name
mycursor.execute("ALTER TABLE Test CHANGE name first_name VARCHAR(50)") # change name to first_name, then redefine the type

In [9]:
# a list of elements containing name, userID, password, email address. 
users = [('tim', 'techwithtim', '12345', 'tim@gmail.com'),
        ('mary','maryhan7','password7','maryhan7@gmail.com'),
        ('sarah','sarah1234','password1234','sarah123@gmail.com')]

In [10]:
user_scores = [(45,100),(30,200),(46,124)]

In [44]:
# create Users table
Q1 = "CREATE TABLE Users (id int PRIMARY KEY AUTO_INCREMENT, name VARCHAR(50), username VARCHAR(50), passwd VARCHAR(50))"

In [45]:
# create Scores table
Q2 = "CREATE TABLE Scores (userId int PRIMARY KEY, FOREIGN KEY(userId) REFERENCES Users(id), game1 int DEFAULT 0, game2 int DEFAULT 0)"

In [46]:
mycursor.execute(Q1)

In [47]:
mycursor.execute(Q2)

In [48]:
# view table names
mycursor.execute("SHOW TABLES")

In [49]:
for x in mycursor:
    print(x)

('Person',)
('Scores',)
('Test',)
('Users',)

In [50]:
# add a column
mycursor.execute("ALTER TABLE Users ADD COLUMN email VARCHAR(50)") # add email column into  Users table

In [37]:
# insert multiple entries at once
#mycursor.executemany("INSERT INTO Users (name, username, passwd, email) VALUES (%s, %s, %s, %s)", users)

In [60]:
# insert multiple entries using for loop
Q3 = "INSERT INTO Users (name, username, passwd, email) VALUES (%s, %s, %s, %s)" # same as the query above
Q4 = "INSERT INTO Scores (userId, game1, game2) VALUES (%s,%s,%s)" # insert score into the Scores table
for x, user in enumerate(users):
    mycursor.execute(Q3, user)
    last_id = mycursor.lastrowid # get the last row ID (primary key) that was inserted into the table
    mycursor.execute(Q4, (last_id,) + user_scores[x])  # add scores into the Scores table for the corresponding user

In [62]:
db.commit() # save

In [71]:
# view rows in table
mycursor.execute("SELECT * FROM Users")
for x in mycursor:
    print(x)
    
mycursor.execute("SELECT * FROM Scores")
for x in mycursor:
    print(x)

(1, 'tim', 'techwithtim', '12345', 'tim@gmail.com')
(2, 'mary', 'maryhan7', 'password7', 'maryhan7@gmail.com')
(3, 'sarah', 'sarah1234', 'password1234', 'sarah123@gmail.com')
(1, 45, 100)
(2, 30, 200)
(3, 46, 124)